
.cards_container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

.chosenTagsDiv {
  background: white;
  height: 74px;
  margin-top: -37px;
  display: flex;
  align-items: center;
  border-radius: 0.5rem 0 0 0.5rem;
  width: 90%;
  position: relative;
  overflow: auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

.chosenTagsDiv[data-v-3d932c3a]::-webkit-scrollbar {
  background: #eef6f6;
  height: 10px;
}

.chosenTagsDiv::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.chosenTagsDiv[data-v-3d932c3a]::-webkit-scrollbar-thumb {
  background: #5ca5a5;
  border-radius: 10px;
}

.chosenTagsDiv::-webkit-scrollbar-thumb:hover {
  background: #338787;
}

.chosenTagsDiv__80width {
  width: 80%;
}

.chosenTagsDiv__clear_div {
  position: absolute;
  top: -37px;
  right: 0rem;
  background: white;
  width: 10%;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0.5rem 0.5rem 0;
}

.chosenTagsDiv__clear {
  border: none;
  background: white;
  color: #7C8F8F;
  font-weight: 700;
  font-size: 16px;
}

.chosenTagsDiv__clear:hover {
  text-decoration: underline;
  color: #338787;
  cursor: pointer;
}

.tagsCont {
  width: 100%;
  position: absolute;
}

@media (max-width: 768px) {
  .chosenTagsDiv {
    height: 140px;

    width: 78%;
    flex-wrap: wrap;

    &__clear_div {
      width: 22%;
      height: 140px;
    }
  }

  .chosenTag {
    margin: 1rem 0
  }

  .break2 {
    margin-top: 6rem;
  }
}

