@import 'colors';

.card {
  display: flex;
  box-shadow: 0 30px 55px 2px rgb(0 0 0 / 10%);
  padding: 20px 30px 30px 0;
  margin-bottom: 2rem;
  background-color: white;
  border-radius: 10px;
}

.cardInfo {
  width: 30%;
}

.cardPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  margin: 0 1.5rem;
}

.cardCompName {
  display: flex;
  align-items: center;
  height: 70px;

  li {
    margin: 0 6px;
  }

  &__name {
    color: $primaryColor;
    font-weight: 700;
  }

  &__tags {
    display: flex;
    color: white;
    font-weight: 700;
    padding: 6px 15px 4px 15px;
    font-size: 14px;
    border-radius: 2rem;

    &--new {
      background-color: $primaryColor;
    }

    &--featured {
      background-color: black;
    }
  }
}

.cardPosition {
  &__name {
    margin: 0;
    text-align: left;
  }

  &__name:hover {
    color: $primaryColor;
    cursor: pointer;
  }
}

.cardDetails {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $lightTxt;

  p {
    margin-right: 10px;
  }

  &__dot {
    font-size: 25px;
    line-height: 0
  }
}

.cardStack {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
  flex-wrap: wrap;
  padding: 2rem 0 2rem 1rem;

  &__elements {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
      background-color: $lightPrimary;
      padding: 10px;
      border-radius: 5px;
      color: $primaryColor;
      font-weight: 700;
      border: none;
      margin-left: 1rem;
    }

    button:hover {
      background-color: $primaryColor;
      color: white;
      cursor: pointer;
    }
  }
}

.chosenTag {
  display: flex;
  align-items: center;

  span {
    background-color: $lightPrimary;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    color: $primaryColor;
    font-weight: 700;
    border: none;
    margin-left: 1rem;
  }

  &__delete {
    border: none;
    display: flex;
    background-color: $primaryColor;
    color: white;
    padding: 11.5px;
    border-radius: 0 5px 5px 0;
  }

  &__delete:hover {
    background-color: black;
    cursor: pointer;
  }

  &__icon {
    height: 16px;
  }
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    margin-bottom: 5rem;
  }
  .cardInfo {
    width: 100%;
    padding-left: 1rem;
  }
  .cardStack {
    width: 100%;
    justify-content: flex-start;
    padding: 0;

    &__elements{
      margin-bottom: 1rem;
    }
  }
  .cardPhoto {
    width: 25%;
    margin: -4rem 1.5rem 0 1.5rem;
  }
  .cardPhoto img {
    height: 75px;
  }
  .cardCompName {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;

    &__name{
      margin: 1rem 0 0 0;
    }

    &__tags {
      margin: 1rem 0 0 0;
      padding: 0;

      li{
        padding: 6px 15px 4px 15px;
        margin: 0 0 0 13px;
      }
    }
  }
  .cardPosition{
    margin: 1rem 0 0 0;
  }
  .separator {
    width: 98%;
    height: 1px;
    margin: 0 0 1rem 1rem;
    background-color: black;
  }

}

